
<h>显示此用户的订单列表详情</h>
 <br>
 <br>
<table>
  <tr>
    <td>
      用户名
    </td>
    <td>
      订单编号
    </td>
    <td>
      订单详情
    </td>
    <td>
      订单状态
    </td>
    <td>
      订单时间
    </td>
    </tr>
  <tr>
    <% @users.each do |user|%>
        <tr>
        <% user.attributes.each do |k,v| %>
           <td><%= v%></td>
        <%end %>
      <tr>
    <%end %>
  </tr>
</table>
<% link_to 'Back',%>

